<h1>Welcome to Battleships!</h1>

<% if @player %>
    <h2>Hello, <%=@player.name %> </h2>
    <p>Enter a coordinate in the box below to take a shot!</p>
    <form action='/game' method="post">
        <input type="text" name="shoot_on">
        <input type="submit" name="shoot" value="shoot">
    </form>


    <table id="player_battleships_board">
        <tr>
            <td></td>   <!--  Gap in the upper left corner --> 
            <% [*'A'..'J'].each do |col| %>
                <td><%= col %></td>         
            <% end %>
        </tr>

        <% [*1..10].each do |n| %>  
            <tr>
                <th><%= n %></th>
                <% [*'A'..'J'].each do |l| %>
                    <% joined = l+n.to_s %>
                    <% joined_sym = joined.to_sym %>
                    <td id="<%= joined %>"> <%= @computer.board.grid[joined_sym].hit? %></td>
                <% end %>
            </tr>
        <% end %>
    </table>

    <table id="battleships_board">
        <tr>
            <td></td>   <!--  Gap in the upper left corner --> 
            <% [*'A'..'J'].each do |col| %>
                <td><%= col %></td>         
            <% end %>
        </tr>

        <% [*1..10].each do |n| %>  
            <tr>
                <th><%= n %></th>
                <% [*'A'..'J'].each do |l| %>
                    <% joined = l+n.to_s %>
                    <% joined_sym = joined.to_sym %>
                    <td id="<%= joined %>"> <%= @player.board.grid[joined_sym].hit? %></td>
                <% end %>
            </tr>
        <% end %>
    </table>

<!-- We build form you can fill in your shots -->

<% else %>
    <form action='/new_game' method="post">
        <input type="text" name="name">
        <input type="submit" name="submit" value="Submit">
    </form>
<% end %>

